.quotes{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  background-color: $color-black;
  min-height: 300px;
  padding:2rem;

  &__introtxt{
    color: $color-grey;
    p {
      
      width:50%;
      @include breakpoint(xxsmall-max){
       width:100%;
       }
    }
    a{
      color:$orange;
    }
    h2 {
      font-family: $heading;
      font-size:32px;
      color: $color-grey;
    }
    padding-bottom:2rem;
    @include breakpoint(xxsmall-max){
    padding-bottom:1rem;
      }
  }
 
}

.mySlides{
  color: $color-white;
  display:none;
  &__padding{
    margin:3rem;
    padding:0.2rem;
    padding-bottom:1rem;
    @include breakpoint(xxsmall-max){
    padding:0;
    margin:1rem;
    }
  }
 
}
.numbertext {
  color: $color-grey;
  font-size: 12px;
  position: absolute;
  top: 0;
  
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

// /* Next & previous buttons */
// .next {
//   position: absolute;
//   top: 50%;
//   width: auto;
//   padding: 16px;
//   margin-top: -22px;
//   color: $orange;
//   font-weight: bold;
//   font-size: 18px;
//   transition: 0.6s ease;
//   border-radius: 0 3px 3px 0;
//   user-select: none;
// }

