.quotes{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  background-color: $color-black;
  min-height: 300px;
  padding:2rem;
  color: $color-white;

  &__introtxt{
    p {
      width:50%;
    }
    a{
      color:$orange;
    }
    h2 {
      font-family: $heading;
      font-size:32px;
    }
    padding-bottom:2rem;
  }
 
}

.mySlides{
  display:none;
  &__padding{
    margin:3rem;
    padding:0.2rem;
    padding-bottom:1rem;
  }
  &__buttons{
    padding-bottom:3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
     
  }
  img{
    filter: grayscale(0%);
    max-height:400px;
    width:90%;
  

  }
  img:hover{
    filter: grayscale(20%);
    border-radius: 20px;
   
  }
  
}