nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right:1rem;
  font-family: $second-heading;
  a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
    letter-spacing: 0.1rem;
  }
  li {
    list-style: none;
  }
  a:hover{
    color:$orange;
  }
}