<footer>
  <div class="footer__logo">
    <a href="/"><h2>Studiestunden</h2></a>
    <p>Ett studentprojekt av Tova Jertfelt</p>
  </div>
  <div class="footer__content">
  <div class="footer__links">
  <h3>Bra länkar</h3>

    <li><a href="https://netninja.dev/">Net Ninja </a></li>
    <li><a href="https://www.freecodecamp.org/"> Free Code Camp</a></li>
    <li><a href="https://www.w3schools.com/"> W3 schools</a></li>
    <li><a href="https://www.bezkoder.com">Bezkoder</a></li>
 
    </div>

  <div>
    <h3>Kontakt</h3>
    <a href="jertfelt.github.io">Portfolio</a>
    <p>tovajertfelt@gmail.com</p>
  </div>
</div>
 
</footer>