<footer class="footer__all">
  <div class="footer__links">
  <h3>Bra l채nkar:</h3>
  <ul class="footer__links--text">
    <li><a href="https://netninja.dev/">Net Ninja </a></li>
    <li><a href="https://www.freecodecamp.org/"> Free Code Camp</a></li>
    <li><a href="https://www.w3schools.com/"> W3 schools</a></li>
  </ul>
    </div>
  <div class="footer__info">
    <h3>Det h채r 채r ett studentprojekt av Tova Jertfelt</h3>
    <a href="jertfelt.github.io">Se min portfolio h채r</a>
    <ul class="footer__info">
      <li>tovajertfelt@gmail.com</li>
    </ul>
  </div>
</footer>