<nav>
  <div class="siteName">
    <a href="/"><h1>Studiestunden</h1></a>
    <p>En sida som hjälper dig att plugga programmering</p>
  </div>
  <ul class="siteNav">
    <li><a href="/">Start</a></li>
    <span>
    <li><a href="/login">Logga in</a></li>
    <li><a href="/registrera">Registrera dig</a></li>
    </span>
  </ul>
</nav>