<nav>
  <div class="siteName">
    <a 
    href="/"><h1 class="heading__h1">Studiestunden</h1></a>
    <p class="subheading__h1">En sida som hjälper dig att plugga programmering.</p>
  </div>
  <ul 
  class="siteNav">
    <li><a 
      href="/">
      Start</a></li>
    <li class="notloggedin"><a href="/login">
      Logga in</a></li>
    <li class="notloggedin "><a href="/registrera">
      Registrera</a></li>
    <li class="loggedin "><a href="/">
      Logga ut</a></li>
  </ul>
</nav>