<nav>
  <div class="siteName">
    <a 
    href="/"><h1 class="heading__h1">Studiestunden</h1></a>
    <p class="subheading__h1">En sida som hjälper dig att plugga programmering.</p>
  </div>
  <div class="siteNavMobile">
    <span 
    id="dropdownToggle"
    >
    <p>Meny</p>
    </span>
    <div class="navMobile"
    id="dropdownMenu">
    <span 
    class="dropdownmenu--close"
    id="closeDropdownMenu">
      <p>X</p>
    </span>
    
    <ul 
    class="dropdownmenu">
    <li><a 
      href="/">
      Start</a>
    </li>
    <li class="notloggedin">
      <a href="/login">
      Logga in</a></li>
    <li class="notloggedin ">
      <a href="/registrera">
      Registrera</a></li>
    <li class="loggedin logoutbutton"><a href="/">
      Logga ut</a>
    </li>
  </div>
  </ul>
  </div>

  </ul>
  </div>
  <ul 
  class="siteNav">
    <li><a 
      href="/">
      Start</a></li>
    <li class="notloggedin">
      <a href="/login">
      Logga in</a></li>
    <li class="notloggedin ">
      <a href="/registrera">
      Registrera</a></li>
    <li class="loggedin logoutbutton">
      <a href="/">
      Logga ut</a></li>
  </ul>
</nav>