<nav>
  <div class="siteName">
    <a 
    href="/"><h1 class="heading__h1 txtbuttonHoverHeading">Studiestunden</h1></a>
    <p class="subheading__h1">En sida som hjälper dig att plugga programmering.</p>
  </div>

  <div class="siteNavMobile">
    <span class="dropdownmenu--options"
    >
    <p class="txtbuttonHover"
    id="openDropdownNav">Meny</p>
    <p id="closeDropdownNav"
    class="hidden txtbuttonHover
    dropdownmenu--close">X</p>
    </span>

    <div class="navMobile hidden"
    id="dropdownMenu">
    <ul 
    class="dropdownmenu">
    <li class="txtbuttonHover"><a 
      href="/">
      Start</a>
    </li>
    <li class="notloggedin txtbuttonHover">
      <a href="/login">
      Logga in</a></li>
    <li class="notloggedin txtbuttonHover">
      <a href="/registrera">
      Registrera</a></li>
    <li class="loggedin txtbuttonHover logoutbutton hidden"><a href="/">
      Logga ut</a>
    </li>
    <li class="loggedin txtbuttonHover logoutbutton hidden">
      <a href="/profil">
      Min sida</a></li>
  </div>
  </ul>
  </div>

  </ul>
  </div>
  <ul 
  class="siteNav"
  id="desktopNav">
    <li class="txtbuttonHover"><a 
      href="/">
      Start</a></li>
    <li class="notloggedin txtbuttonHover">
      <a href="/login">
      Logga in</a></li>
    <li class="notloggedin txtbuttonHover">
      <a href="/registrera">
      Registrera</a></li>
    <li class="loggedin txtbuttonHover logoutbutton hidden">
      <a href="/">
      Logga ut</a></li>
    <li class="loggedin txtbuttonHover logoutbutton hidden">
        <a href="/profil">
        Min sida</a></li>
  </ul>
</nav>

<script src="../javascript/loggedinFunctions/user/loginLogout.js" type="module">   
</script>

<script>

//navigation mobile
let navVisibleWhenMobile = document.getElementById("siteNavMobile")
let openNavMobile = document.getElementById("openDropdownNav");
let closeNavMobile = document.getElementById("closeDropdownNav");
let navMobileMenu = document.getElementById("dropdownMenu");

//*-----------functions
openNavMobile.addEventListener("click", () => {
  if(navMobileMenu.classList.contains("hidden")){
    navMobileMenu.classList.remove("hidden");
    closeNavMobile.classList.remove("hidden");
    openNavMobile.classList.add("hidden");
  }
})

closeNavMobile.addEventListener("click", () => {
  navMobileMenu.classList.add("hidden");
  closeNavMobile.classList.add("hidden");
  openNavMobile.classList.remove("hidden");
})

// //*logged in 
// let notLoggedInOptions = document.querySelectorAll(".notloggedin");
// let loggedInOptions = document.querySelectorAll(".loggedin");

// //logout function button
// let logoutButtons = document.querySelectorAll(".logoutbutton");
// logoutButtons.forEach(element => {
//   element.addEventListener("click", () => {
//     console.log("clicked")
//   })
// });

</script>