<div class="quotes__introtxt">
  <h2>Kom ihåg!</h2>
  <p>Det är viktigt att ta hand om sig själv, och inte stressa upp sig. Här kommer några kom-ihåg-lappar från ACT-terapi.<br> <a href="https://sv.wikipedia.org/wiki/Acceptance_and_commitment_therapy">Läs mer om ACT-terapi här</a></p>
</div>

<div class="mySlides__padding slideshow-container"
id="quotesRendered">
<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
 
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  
</div>
<div class="mySlides fade">
  <div class="numbertext">4 / 4</div>



  
</div>
<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>
<br>

</div>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
</div>


<script>

const apiQuotes ="https://type.fit/api/quotes";

//slides div (list)
const slides = document.querySelectorAll(".mySlides");

let getQuotes = async () => {
  let {data} = await axios.get(apiQuotes, {})
  renderQuote(data);
  
}

const renderQuote = (data) => {
  //alla citat
  let quotes = [];
  data.forEach(item => {
  quotes.push(item);
  })

  slides.forEach(slide => {
    const randomElement = [Math.floor(Math.random() * quotes.length)];
    // console.log(randomElement, quotes[randomElement].text, "-"+ quotes[randomElement].author)
    let articleElem = document.createElement("article");
    articleElem.classList.add("quote");
    articleElem.innerHTML= `
    <h3>${randomElement, quotes[randomElement].text}</h3>
    <h4> – ${quotes[randomElement].author}</h4>`

  slide.appendChild(articleElem);
  })
}
getQuotes();

//slides

let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
  </script>
  