<div class="quotes__introtxt">
  <h2>Kom ihåg!</h2>
  <p>Det är viktigt att ta hand om sig själv, och inte stressa upp sig. Här kommer några kom-ihåg-lappar från ACT-terapi.<br> <a href="https://sv.wikipedia.org/wiki/Acceptance_and_commitment_therapy">Läs mer om ACT-terapi här</a></p>
</div>

<div class="mySlides__padding">

  <div class="mySlides">
    <img src="img/quote--2.png"
    alt="Winston Churchill">
    </div>
  <div class="mySlides">
    <img src="img/quote--4.png"
    alt="Text som handlar om att läka sig själv">
    </div>
  <div class="mySlides">
    <img src="img/quote--5.png"
    alt="'There are always flowers for those who want to see them.'-Henri Matisse">
  </div>
  <div class="mySlides">
    <img src="img/quote--3.png"
    alt="Text som handlar om att läka sig själv">
  </div>


</div>

<div class="mySlides__buttons">
  <div>
    <button class="carouselbutton--control" onclick="plusDivs(-1)">❮ Prev</button>
    <button class="carouselbutton--control" onclick="plusDivs(1)">Nästa ❯</button>
  </div>
  <div class="row__hideMobile">
  <button class="carouselbutton--number" onclick="currentDiv(1)">1</button> 
  <button class="carouselbutton--number" onclick="currentDiv(2)">2</button> 
  <button class="carouselbutton--number" onclick="currentDiv(3)">3</button> 
  <button class="carouselbutton--number" onclick="currentDiv(4)">4</button> 
</div>
</div>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);
  
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
  
  function currentDiv(n) {
    showDivs(slideIndex = n);
  }
  
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("carouselbutton--number");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
   
    x[slideIndex-1].style.display = "block";  

  }
  </script>
  