<html lang="sv">
<%- include("./head.ejs") %> 

<body>
  <%- include ("./nav.ejs") %>

<main class="maincontent__medlem">

    <h2>Våra medlemmar</h2>
    
    <div class="medlem__grid">

  
</main>
<%- include("../partials/footer.ejs") %>
</body>
</html>