<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <header>
  <%- include ("../partials/nav.ejs") %>
  </header>
<main>

  <section class="form__section">
    <div class="form__section--txt">
      <h2 id="createUserHeading">Registrera dig här:</h2>
      <form action="/users" 
      method="POST"
      class="form__register"
      id="createUserForm">
      
        <span>
          <label for="name">
          Användarnamn:</label>
          <input type="text" 
          id="name" 
          name="username" 
          required>
        </span>
        <span>
          <label for="email">
            Email:</label>
          <input type="email" 
          id="email" 
          name="email" 
          required>
        </span>
        <span>
        <label for="password">
          Lösenord:</label>
        <input type="password" 
        id="password" 
        name="password" 
        required>
        </span>
      

        <button 
        class="txtbuttonHover largeButt">
          Bli medlem</button>
        
      </form>
      <div id="msgCreateForm">
      
      </div>
      
    </div>
  </section>

  
<aside class="quotes">
  <%- include ("../partials/quotes.ejs") %>
</aside>
  <%- include("../partials/footer.ejs") %>
  <script>
  
    //assigning variables
    const createForm = document.getElementById("createUserForm");
    const createName = document.getElementById("name");
    const createEmail = document.getElementById("email");
    const createPassword = document.getElementById("password");

    // const msgCreateForm = document.getElementById("msgCreateForm");

    createForm.addEventListener("submit", async (e) => {
      e.preventDefault();
  
      // const response = await fetch("/users", {
      //   method: "POST",
      //   headers: {
      //     "content-type": "application/json"
      //   },
      //   body: JSON.stringify({
      //     username: createName.value,
      //     email: createEmail.value,
      //     password: createPassword.value
      //   })
      // })
      // const data = await response.json();
      // const confirmationmessage = document.createElement("div");
      // confirmationmessage.classList.add("form__section--msg")
      // confirmationmessage.innerHTML=`
      // <h2>Välkommen!</h2>
      // <h3>Gå till din sida</h3>
      // `
      // msgCreateForm.appendChild(confirmationmessage)
      // createForm.classList.add("hidden");
      // document.getElementById("createUserHeading").classList.add("hidden");

      sessionStorage.setItem("loggedin", true);
    //*ska bytas sedan när medlem/:id fungerar
      window.location.href = "/profil";
    })
    </script>
    
<script src="../javascript/loggedinFunctions/user/ifLoggedin.js" type="module"> </script> 

</body>

</html>
</main>