<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <header>
  <%- include ("../partials/nav.ejs") %>
  </header>
<main>

  <section class="form__section">
    <div class="form__section--txt">
      <h2>Registrera dig här:</h2>
      <form action="/users-register" 
      method="POST"
      class="form__register">
        <span>
          <label for="name">
          Användarnamn:</label>
          <input type="text" 
          id="name" 
          name="name" 
          required>
        </span>
        <span>
          <label for="email">
            Email:</label>
          <input type="email" 
          id="email" 
          name="email" 
          required>
        </span>
        <span>
        <label for="password">
          Lösenord:</label>
        <input type="password" 
        id="password" 
        name="password" 
        required>
        </span>
        <span class="row profilbildspan">
          <label for="getFile"
          >
            Välj profilbild 
          </label>
          <button 
          class="profilbildButt"
          onclick="document.getElementById('getFile').click()">Ladda upp bild</button>
          <input type='file' 
          id="getFile" >
        </span>

        <button 
        class="txtbuttonHover largeButt">
          Bli medlem</button>
        
      </form>
    </div>
  </section>

  
<aside class="quotes">
  <%- include ("../partials/quotes.ejs") %>
</aside>


  <%- include("../partials/footer.ejs") %>
</body>
</html>
</main>