<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <header>
  <%- include ("../partials/nav.ejs") %>
  </header>
<main>

  <section class="form__section">
    <div class="form__section--txt">
    <h2>
      Logga in</h2>
    <div 
    id="loginForm">
    <form action=""
    id="login"
    class="form__register">
    <span>
      <label 
      for="username">
        Email:</label>
      <input 
      name="username"
      type="text" 
      id="usernameLogin"
      required>
    </span>
    <span>
      <label 
      for="password">
        Lösenord:</label>
      <input 
      name="password"
      type="password" 
      id="passwordLogin"
      required>
    </span>
      <input type="submit"
      value="Logga in"
      class="txtbuttonHover largeButt">
      </input>
    </form>
  </div>
  </section>
<aside class="quotes">
  <%- include ("../partials/quotes.ejs") %>
</aside>
  <%- include("../partials/footer.ejs") %>
  <script src="../javascript/loggedinFunctions/user/ifLoggedin.js" type="module">       
  </script>
  <script>
      //assigning variables
  const loginForm = document.getElementById("loginForm");
  const loginEmail = document.getElementById("usernameLogin");
  const loginPassword = document.getElementById("passwordLogin");

  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const response = await fetch("/login", {
      method: "POST",
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify({
        email: loginEmail.value,
        password: loginPassword.value
      })
    })
    .then(() => {
        checkinguserStatus();
      window.location.assign("../detaljer")
    })
    .catch((error) => {
      alert("Fel lösenord eller användarnamn!")
      console.log(error);
    })
  })
</script>
</body>
</html>
</main>