.register{
  &__section{
    padding:2rem;
    &--txt{
      background-color: $color-white;
      h2{
        background-color: $color-black;
        color: $color-white;
        padding:0.2rem;
        text-align: center;
        margin-bottom:1rem;
      }
    }
    @include breakpoint(mediumsize){
      margin:3rem;
      padding:2rem;
      max-width:1020px;
      margin-left:12.5%;
    }
  }
}