.taskboard{
  padding:2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  &__choose{
    padding:2rem;
    h2{
      background-color: $color-black;
      padding:0.3rem;
      color:$color-white;
      width:300px;
      padding-left:1rem;
    }
    p{
      width:500px;
    }
    
  }
  &__select{
    background-color: $color-black;
    padding: 1rem;
    color:$color-white;
    h3{
      margin-right:2rem;
    }
    select {
      background-color: $color-black;
      border:none;
      color:$color-white;
      font-size:large;
      font-family: $primary-font;
    }
  }
  &__kanbanboard{
  display:flex;
  padding: 30px;
  width: 750px;
  background-color: $blue;
  border-radius:5px;
}
&__about{
  padding:2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  img{
    width:300px;
  }
  width:75%;
}
}

.kanban{
  &__column{
    flex: 1;
    &--title{
      margin-bottom:10px;
      font-size: 20px;
      color:$color-white;
      user-select: none;
    }
  }
  &__column:not(:last-child){
    margin-right:1rem;
  }
  &__item{
    &--input{
      padding:10px 15px;
      box-sizing: border-box;
      background-color: $color-grey;
      cursor: pointer;
    }
  }
  &__dropzone{
    height:10px;
    transition: background 0.15s, height 0.15s;
  }
  &__dropzone--active{
    height:20px;
    background: rgba(0,0,0,0.25);
  }
  &__add-item{
    width:100%;
    padding: 10px 0;
    font-size:16px;
    color: $color-white;
    background: $color-black;
    border:none;
    cursor:pointer;
  }
}