<html lang="sv">
<%- include("./partials/head.ejs") %> 

<body>
  <%- include ("./partials/nav.ejs") %>

  <div class="content__404">
    <img src="img/something-went-wrong.png">
    <h2>SIDAN HITTADES INTE</h2>
    <p>Något blev tyvärr fel!</p>
  </div>
  
  <%- include("./partials/footer.ejs") %>
</body>
</html>