<html lang="sv">
<%- include("./partials/head.ejs") %> 

<body>
  <header>
  <%- include ("./partials/nav.ejs") %>
  </header>

<main class="homepage">
  <div class="homepage__about">
  
  </div>
</main>
<aside class="homepage__timer">
  <%- include ("./functions/timer.ejs") %>
</aside>
  <%- include("./partials/footer.ejs") %>
</body>
</html>