<html lang="sv">
<%- include("./partials/head.ejs") %> 

<body>
  <header>
  <%- include ("./partials/nav.ejs") %>
  </header>

<main class="homepage__about">
  <div>
  
  </div>
</main>
<aside>
  <%- include ("./functions/timer.ejs") %>
</aside>
  <%- include("./partials/footer.ejs") %>
</body>
</html>