@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Righteous&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
.heading {
  font-family: "Righteous", Arial, sans-serif;
  letter-spacing: 0.1rem;
}

.heading__h1 {
  font-family: "Righteous", Arial, sans-serif;
  font-size: 59px;
  line-height: 0.3rem;
}

@media only screen and (max-width: 600px) {
  .heading__h1 {
    font-size: 29px;
  }
}

.subheading {
  font-family: "Kdam Thmor Pro", Arial, sans-serif;
}

.subheading__h1 {
  font-family: "Kdam Thmor Pro", Arial, sans-serif;
  line-height: 0;
}

@media only screen and (max-width: 600px) {
  .subheading__h1 {
    line-height: 1.2rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.hidden {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row__spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bluetoggle {
  color: #5050e8;
}

.txtbuttonHover {
  cursor: pointer;
  padding: 0.2rem;
}

.txtbuttonHover:hover {
  background-color: #242424;
  color: #fff;
}

.carouselbutton--control {
  font-size: 18px;
  background-color: #242424;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.carouselbutton--control:hover {
  color: orange;
}

.carouselbutton--control:active {
  color: #5050e8;
}

.carouselbutton--number {
  background-color: #242424;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.carouselbutton--number:active {
  color: orange;
}

footer {
  padding: 2rem;
  background-color: #fff;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  line-height: 0;
}

footer a:hover {
  color: orange;
}

footer h2 {
  font-family: "Righteous", Arial, sans-serif;
  color: #5050e8;
  line-height: 0.3rem;
}

footer h3 {
  font-family: "Kdam Thmor Pro", Arial, sans-serif;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0.4rem;
  margin-bottom: 1rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}

.grid__homepage {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 600px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

header {
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  color: #242424;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0.2rem;
    max-width: 600px;
  }
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
  font-family: "Roboto Mono", monospace;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
  letter-spacing: 0.1rem;
}

nav li {
  list-style: none;
}

nav a:hover {
  color: orange;
}

@media only screen and (max-width: 600px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
}

.siteNav {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.siteNav li {
  padding: 0.8rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .siteNav {
    padding: 0;
    display: none;
  }
}

.siteNavMobile {
  padding: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .siteNavMobile {
    display: none;
  }
}

.navMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
}

.dropdownmenu {
  height: 80px;
  z-index: 90;
  background-color: #fff;
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
}

.dropdownmenu--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  width: 100%;
  margin-top: 2rem;
}

.dropdownmenu--close {
  margin-top: -2rem;
  margin-right: 12rem;
  z-index: 99;
}

#openDropdownNav {
  margin-top: -1rem;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #e1dfd6;
  margin: 0;
  color: #242424;
}

.homepage {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
  .homepage {
    margin-left: 0%;
    max-width: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 0;
    min-width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage {
    margin-left: 12.5%;
    max-width: 75%;
  }
}

.homepage h2 {
  padding: 0.3rem;
  background-color: #242424;
  color: #fff;
  margin-bottom: 0;
  z-index: 30;
  padding-left: 1rem;
}

.homepage a {
  padding: 1rem;
  color: #5050e8;
  text-decoration: none;
}

.homepage a:hover {
  color: #fff;
  background-color: #5050e8;
}

.homepage img {
  width: 100%;
  margin-top: 0;
  z-index: 20;
}

.homepage p {
  width: 75%;
}

.timerDiv {
  background-color: #e1dfd6;
  width: 100%;
}

.timer {
  padding: 3rem;
  text-align: center;
}

.timer__infotxt {
  padding-left: 2rem;
}

.timer__infotxt li {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .timer {
    padding: 2rem;
    margin: 0;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .timer {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clock {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 13rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
}

@media only screen and (max-width: 768px) {
  .clock {
    margin: 0;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .clock {
    margin: 0;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 300;
  color: #5050e8;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button:hover {
  background-color: #242424;
  color: #fff;
}

.mode-button.active {
  border-color: #5050e8;
}

.main-button {
  cursor: pointer;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  width: 200px;
  background-color: #242424;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  -webkit-transition: color 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: #242424;
  min-height: 300px;
  padding: 2rem;
  color: #fff;
}

.quotes__introtxt {
  padding-bottom: 2rem;
}

.quotes__introtxt p {
  width: 50%;
}

.quotes__introtxt a {
  color: orange;
}

.quotes__introtxt h2 {
  font-family: "Righteous", Arial, sans-serif;
  font-size: 32px;
}

.mySlides {
  display: none;
}

.mySlides__padding {
  padding-bottom: 1rem;
}

.mySlides__buttons {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mySlides img {
  max-height: 400px;
  border-radius: 30px;
}

.mySlides__quotelong {
  width: 50%;
  padding: 5rem;
}
/*# sourceMappingURL=styles.css.map */