.heading{
  font-family: $heading;
  letter-spacing: 0.1rem;
  &__h1{
    font-family: $heading;
    font-size: 59px;
    line-height: 0.3rem;
  }
}

.subheading{
  font-family: $second-heading;
  &__h1{
    font-family: $second-heading;
    line-height: 0;
  }
}

