.heading{
  font-family: $heading;
  letter-spacing: 0.1rem;
  &__h1{
    font-family: $heading;
    font-size: 59px;
    line-height: 0.3rem;
    @include breakpoint(xxsmall-max){
      font-size:29px;
    }
  }
}

.subheading{
  font-family: $second-heading;
  &__h1{
    font-family: $second-heading;
    line-height: 0;
    @include breakpoint(xxsmall-max){
      line-height: 1.2rem;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
