<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <header>
  <%- include ("../partials/nav.ejs") %>
  </header>
<main 
class="register__page">
  <section class="register__section">

  </section>

  
<aside class="quotes">
  <%- include ("../partials/quotes.ejs") %>
</aside>


  <%- include("../partials/footer.ejs") %>
</body>
</html>
</main>