.txtbuttonHover{
  cursor: pointer;
    padding:0.2rem;
}
.txtbuttonHover:hover{
  background-color: $color-black;
  color:$color-white;
}

.txtbuttonHoverHeading{
  cursor: pointer;
}
.txtbuttonHoverHeading:hover{
  color:$color-black;
}

.carouselbutton{
  &--control{
    font-size:18px;
    background-color: $color-black;
    color:$color-white;
    border:none;
    font-weight:bold;
    cursor: pointer;
  }
  &--control:hover{
    color:$orange;
  }
  &--control:active {
    color: $blue;}

  &--number{
    background-color: $color-black;
    color:$color-white;
    border:none;
    font-weight:bold;
    cursor: pointer;
  }
  &--number:active{
    color:$orange;
  }
}

.profilbildButt{
  border:none;
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  display:block;
  width:120px; 
  height:30px;
}
.profilbildButt:hover{
  cursor:pointer;
  background-color: $blue;
}

.becomeUser{
  border:none;
  background-color: $blue;
  padding:1rem;
  color: $color-white;
  text-transform: uppercase;
}