.hidden{
  visibility: hidden;
  display:none;
}
.visible{
  visibility: visible;
  display:block;
}

.row{
  display:flex;
  flex-direction: row;
  &__spacebetween{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.column{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.bluetoggle{
  color: $blue;
}
